.imageGridContainer {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem 0;
}

.imageDraggable {
  flex: 0 0 auto;
}

.gridDraggableContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rem;
  padding: 1rem 0;
}

.gridDraggableItem {
  width: 100%;
}
