/* ImagePreviewGrid.module.css */

.imageGridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.25rem;
  overflow-x: auto;
  padding: .25rem;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  border: 1px solid #eee;
  border-radius: 8px;
}

.imageDraggable {
  flex: 0 0 auto;
  width: 140px;
}
